@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex flex-col items-center justify-center;
  }
}

:root {
  --font-merriweather: "Merriweather";
  --font-montserrat: "Montserrat";
}

h1 {
  @apply text-5xl w-full;
}

h2 {
  @apply text-3xl w-full font-bold mt-8;
}

p {
  @apply w-full;
}

b {
  font-weight: 900;
}

a {
}

::-moz-selection {
  /* FIREFOX */
  @apply bg-purple-500;
}

::selection {
  @apply bg-purple-500;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}

@media (max-width: 640px) {
  .animate-slide {
    animation: slide 5s linear infinite; /* Faster speed on mobile */
  }
}
